In [51]:
import pandas as pd

In [52]:
olympics_file = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding = "ISO-8859-1")

In [53]:
olympics_file

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [54]:
print(olympics_file.dtypes)

City             object
Year            float64
Sport            object
Discipline       object
Event            object
Athlete          object
Gender           object
Country_Code     object
Country          object
Event_gender     object
Medal            object
dtype: object

In [55]:
olympics_file['Year'] = (olympics_file['Year'].fillna(0.0)).astype(int)

In [56]:
df_olympics_file = olympics_file.set_index('Year')
df_olympics_file

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976,Montreal,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [57]:
df_olympics_file[['Lastname','Firstname']] = df_olympics_file['Athlete'].str.split(',', 1, expand=True)
df_olympics_file.drop('Athlete', inplace=True, axis=1)
df_olympics_file

,City,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,Lastname,Firstname
Year,,,,,,,,,,,
1976,Montreal,Aquatics,Diving,3m springboard,Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976,Montreal,Aquatics,Diving,3m springboard,Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976,Montreal,Aquatics,Diving,3m springboard,Men,USA,United States,M,Gold,BOGGS,Philip George
1976,Montreal,Aquatics,Diving,3m springboard,Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976,Montreal,Aquatics,Diving,10m platform,Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,Men,FRA,France,M,Bronze,GUENOT,Christophe
2008,Beijing,Wrestling,Wrestling Gre-R,66 - 74kg,Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
2008,Beijing,Wrestling,Wrestling Gre-R,55 - 60kg,Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
2008,Beijing,Wrestling,Wrestling Gre-R,60 - 66kg,Men,FRA,France,M,Gold,GUENOT,Steeve
2008,Beijing,Wrestling,Wrestling Gre-R,96 - 120kg,Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [58]:
df_olympics_file.describe()

,City,Sport,Discipline,Event,Gender,Country_Code,Country,Event_gender,Medal,Lastname,Firstname
count,15316,15316,15316,15316,15316,15316,15316,15316,15316,15316,15223
unique,9,28,41,293,2,128,127,3,3,8930,5587
top,Beijing,Aquatics,Athletics,hockey,Men,USA,United States,M,Bronze,KIM,Vladimir
freq,2042,2210,1523,817,9388,1992,1992,8817,5258,103,113

In [59]:
country_medals = df_olympics_file.groupby(df_olympics_file['Country']).Country.count()
country_medals.sort_values(ascending = False)

Country
United States    1992
Soviet Union     1021
Australia         798
Germany           691
China             679
                 ...
Panama              1
Senegal             1
Sri Lanka           1
Sudan               1
Macedonia           1
Name: Country, Length: 127, dtype: int64

In [69]:
df_men = df_olympics_file[df_olympics_file.Gender == 'Men']
men_medals = df_men.groupby(df_men.index).Gender.count()
men_medals

Year
1976     924
1980     958
1984     973
1988    1011
1992    1105
1996    1082
2000    1126
2004    1099
2008    1110
Name: Gender, dtype: int64